<div id="<%= dom_id screen %>">
  <p class="my-5">
    <strong class="block mb-1 text-2xl font-medium">Screen no.: <%= screen.screen_no %></strong>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1 text-2xl">Status: <%= screen.status %></strong>
  </p>
</div>
