<div id="<%= dom_id screen %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Screen no: <%= screen.screen_no %></strong>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Seats: <%= screen.seats %></strong>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Status: <%= screen.status %></strong>
  </p>
</div>
