<div id="<%= dom_id screen %>">
  <p class="my-5">
    <strong class="block mb-1 text-2xl font-medium">Screen name/no.: <%= screen.screen_name %></strong>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1 text-2xl">Seats Capacity: <%= screen.seats %></strong>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1 text-2xl">Status: <%= screen.status.humanize %></strong>
  </p>
</div>
