<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-semibold text-3xl">Fill this Form, We will contact you to verify your details</h1>

  <%= render "users/theater_inquiry_form" %>

  <%= link_to "Cancel", new_user_registration_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>