<h1>Book My Show Theater Portal</h1>

<h2>Hello, <%= @contact_email %></h2>

<p>We regret to inform you, We have rejected your request for BMS Theater Portal</p>

<p>You could not provide valid information or documents to provide your validity hence we have rejected your request</p>

<p>If any query then, drop us a reply mail</p>