<h1>Book My Show Theater Portal</h1>

<h2>Hello, <%= @contact_email %></h2>

<p>Congratulations, we have accepted your request for BMS Theater Portal</p>

<p>All the email you provided will be granted admin access to Theater</p>

<p>They must have received a Set Up Password link. Upon creating password they will be redirected to Theater Portal</p>

<p>If any query then, drop us a reply mail</p>