<h1>Book My Show Theater Portal</h1>

<h2>Hi Superadmin, </h2>

<p>New theater admin request</p>

<p>Customer Email: <span><%= @admin_request[:contact_email] %></span></p>
<p>Contact No: <span><%= @admin_request[:contact_no] %></span></p>

<h2>Instructions you have to follow</h2>

<p>Verify all the details with Valid Documents Proofs about theater on <%= link_to "HERE", Rails.application.credentials.dig(:development, :host_url) + Rails.application.routes.url_helpers.superadmin_admin_request_path(@admin_request[:id]), target: "_blank" %></p>

<p>If all the details are valid then change the status to Approved from Pending on the admin request edit page</p>

<p>If there are falsify inforamtion then change status to Rejected</p>
