<h2>Hello, <%= @user.email %></h2>
<p>You have received a invitation from BMS Theater Portal</p>
<p>Click the link below to get started setting up password for your account. Upon which you will be directed to Theater Portal</p>
<%= link_to 'Create a password', ENV['HOST_URL'] + Rails.application.routes.url_helpers.edit_user_password_path(reset_password_token: @token) %>
<p>Thank you</p>
