<% content_for :title, "Event Request" %>

<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Fill this event request details - <%= @theater.name %></h1>
  <hr>

  <%= render "form", event_request: @event_request %>

  <%= link_to "Back to event requests", event_requests_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
