<div id="<%= dom_id feedback %>">
  <div class="p-6 bg-slate-50 rounded-xl my-6">
    <p class="font-semibold"><%= feedback.user&.name %></p>
    <div class="prose prose-slate">
      <%= feedback.comment %>
    </div>
  </div>
</div>
