<div id="<%= dom_id theater %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= theater.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Address:</strong>
    <%= theater.address %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">City:</strong>
    <%= theater.city_id %>
  </p>

</div>
