<% content_for :title, "Theaters" %>

<div class="w-full">
  <h1 class="font-bold text-4xl mb-10 underline">All Theaters</h1>

  <div id="theaters" class="min-w-full">
    <% if @theaters.present? %>
      <% @theaters.each do |theater| %>
        <%= link_to theater, class: "my-5" do %>
          <%= render theater %>
        <% end %>
        <hr class="my-2">
      <% end %>
    <% else %>
      <p>No Theaters currently listed</p>
    <% end %>
  </div>
  <%= render(PaginationComponent.new(pagy: @pagy)) %>
</div>
