<% flash.each do |type, message| %>
  <aside class="container mx-auto">
    <% if type == "alert" %>
      <div class="bg-red-500 px-2 py-4 font-sans font-medium text-center text-white"><%= message %></div>
    <% end %>
    <% if type == "notice" %>
      <div class="bg-green-500 px-2 py-4 font-sans font-medium text-center text-white"><%= message %></div>
    <% end %>
  </aside>
<% end %>